.list_techno {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .card_techno {
    margin: 1em;
    .card_body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}