.accordion {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;

  /*--------------------/
 /- en-tete-/
/---------------------*/
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo_project {
      width: 60%;

      img {
        object-fit: contain;
        width: 100% !important;
        height: max-content;
      }
    }

    .project_title {
      font-family: 'Economica', sans-serif;

      .title_h2 {
        font-size: 2.5em;
        white-space: nowrap;

      }

      .title_p {
        font-size: 1.8em;
        font-style: italic;
      }
    }
  }

  /*--------------------/
 /- description project-/
/---------------------*/
  .project_description {
    padding: 1em;

    h3 {
      font-size: 1.5em;
    }


    ul {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      .title_li {
        //font-size: 1.5em;
        font-style: oblique;
        list-style: square;

        li {
          font-style: normal;

        }
      }

    }
  }

  /*---------------------------------/
 /- button redirection link extern-/
/--------------------------------*/
  .button_link {
   text-decoration: none;
    font-size: 2em;
    font-family: 'Economica', sans-serif;
 
    padding: 0.1em 0.8em;
    border-radius: 6px;
    border: none;
    color: black;
    background: linear-gradient(to left bottom, #f4ec5f, #f0f4f7);
    cursor: pointer;
    box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.15),
      -3px -3px 5px -1px rgba(255, 255, 255, 0.7);
    transition: transform 0.5s;


    &:hover {
      color: #465560;
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.01);
      transform: translateY(2px);
    }
  }
}

/* Tablets */
@media (max-width: 768px) {
  .accordion {
    .header {

      .project_title {

        .title_h2 {
          font-size: 1.8em;
        }

        .title_p {
          font-size: 1.2em;
        }
      }
    }
  }
}

/* Phones */
@media screen and (max-width: 576px) {
  .accordion {
    .header {
      width: 80%;

      .project_title {

        .title_h2 {
          font-size: 1.2em;
        }

        .title_p {
          font-size: 0.75em;
        }
      }
    }
  }
}